body{
    background-color: #C4CAD0;
}
.container-titulo{
    display: flex;
    /* justify-content: center;
    align-items: center;
    height: 50px; */
}
.pie-pagina{
    color: #C4CAD0;
}
.seccion-h {
  background-color: #878C8F;
}

.seccion-h .list-group-item {
  background-color: transparent;
  color: black;
}
html, body{
    min-height: 100%;
}
/* .card-proyecto1{
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    height: 50vh;

}

.card-proyecto2{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 50vh;

} */
.body-proyectos{
    background-color: #C4CAD0;
}
